$red: #e2001a; // Red
$blue: #001c3a; // Blue

:root {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
}

body {
  background-color: #131314;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.hero {
  background-color: $red;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.click-here {
    text-decoration: none;
    color: white;
    width: 40%;
}
.text-sm {
    font-weight: 100;
}

@media screen and (min-width: 768px) {
  .hero-text {
    padding-right: 1rem;
  }
  .hero a:hover {
    text-decoration: underline;
  }
  .click-here {
    width: 4rem;
  }
}